{% extends "::base.html.twig" %}
{% block css %}
    {% stylesheets 'bundles/edcore/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block ed_css %}{% endblock %}
{% endblock %}
{% block body %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">EasyDev</a>
            </div>
        </div>
    </nav>
    <div class="container">
    {% block ed_body %}{% endblock %}
    </div>
    <footer>
        <p class="text-center">©2017 - EasyDev, Inc.</p>
    </footer>
{% endblock %}
{% block js %}
    {% javascripts '@EDCoreBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block ed_js %}{% endblock %}
{% endblock %}